<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cucumber Suite" parallel="tests" thread-count='3'>
	<!--  All tests will show in Report  -->
	   <test verbose="1" name="Cucumeber Test">
		<parameter name="browserName" value="chrome" />
		<classes>
			<class name="stepdefs.SunNxtRunner" />
		</classes>
	</test>  
	      <test verbose="1" name="Cucumeber TestFF">
		<parameter name="browserName" value="firefox" />
		<classes>
			<class name="stepdefs.SunNxtRunner" />
		</classes>
	</test>
 	  <test verbose="1" name="Cucumeber Test edge">
		<parameter name="browserName" value="edge" />
		<classes>
			<class name="stepdefs.SunNxtRunner" />
		</classes>
	</test>  
   
</suite>